.flatpickr-input {
  width: 272px;
  padding: 8px 16px;
  height: 40px;

  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  color: #2e2f42;

  border-radius: 4px;
  border: 1px solid #808080;

  box-sizing: border-box;
}

.flatpickr-input:hover:not(:disabled):not(:focus) {
  border: 1px solid #000000;
  color: #2e2f42;
}

.flatpickr-input:focus {
  border: 1px solid #4e75ff;
  outline: none;
  color: #2e2f42;
}

.flatpickr-input:active {
  border: 1px solid #4e75ff;
  color: #000000;
  outline: none;
}

.flatpickr-input:disabled {
  border: 1px solid #808080 !important;
  color: #808080 !important;
}

button {
  display: flex;
  justify-content: center;
  background-color: #4e75ff;
  color: #fff;
  width: 75px;
  height: 40px;
  align-items: center;
  border-radius: 8px;
  border: none;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
}

button:disabled {
  background-color: #cfcfcf;
  color: #989898;
}

button:hover {
  background-color: #6c8cff;
  color: #ffffff;
}

.timer-settings {
  display: flex;
  gap: 8px;
  margin-top: 100px;
}

.timer {
  display: flex;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  font-family: Montserrat, sans-serif;

  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #2e2f42;
}

.value {
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 4%;
  color: #2e2f42;
}

.field:first-child {
  width: 55px;
  height: 72px;
  box-sizing: border-box;
}

.field:nth-child(2) {
  width: 61px;
  height: 72px;
  box-sizing: border-box;
}

.field:nth-child(3) {
  width: 76px;
  height: 72px;
  box-sizing: border-box;
}

.field:last-child {
  width: 82px;
  height: 72px;
  box-sizing: border-box;
}

.label {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
}

.iziToast {
  font-family: Montserrat, sans-serif !important;
  border-radius: 4px !important;
  padding: 20px 20px !important;
  /* background-color: #ef4040 !important; */
  letter-spacing: 0.5px !important;
  /* width: 302px; */
  height: 64px !important;
}

.iziToast-body {
  display: flex !important;
  gap: 8px !important;
  align-items: center !important;
  margin: 0 !important;
  min-height: 24px !important;
}

.iziToast-error {
  background: #ff4e4e !important;
  color: #fff !important;
}

.iziToast.iziToast-color-red {
  background: #ff4e4e !important;
  color: #fff !important;
}

.iziToast-title {
  font-size: 18px !important;
  font-weight: 700 !important;
  color: #ffffff !important;
  margin-right: 0px !important;
}

.iziToast-message {
  font-size: 16px !important;
  color: #ffffff !important;
  margin: 0 !important;
}

.iziToast-close {
  color: white !important;
}

.iziToast-texts {
  display: flex !important;
  gap: 8px !important;
  margin: 0 !important;
}

.iziToast-close {
  background-image: url('../img/bi_x-lg.svg') !important;
  background-size: 16px 16px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  opacity: 1 !important;
}

.iziToast-body,
.iziToast-texts {
  padding-right: 0px !important;
}

.iziToast {
  border-radius: 4px !important;
  overflow: hidden !important;
}

.iziToast.iziToast-color-red .iziToast-progressbar {
  background: #ffbebe;
  height: 2px !important;
  margin: 0 !important;
  border-radius: 0 0 16px 16px !important;
  overflow: hidden !important;
}

.iziToast.iziToast-color-red .iziToast-progressbar > div {
  background: #b51b1b;
  height: 100% !important;
  border-radius: 0 0 4px 4px !important;
}

.main-container {
  margin: 0 auto;
  max-width: 1200px;
}

.container {
  margin: 0px 0px;
  padding: 0px 0px;
}

.flatpickr-calendar {
  font-family: Montserrat, sans-serif !important;
}

span.flatpickr-weekday {
  font-size: 16px;
  color: #2e2f42;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
}

.flatpickr-day {
  font-size: 16px;
  color: #666666;
  letter-spacing: 4%;
  font-weight: 400;
}

.flatpickr-day:hover {
  background-color: #c1c1c1;
}

.flatpickr-day.today {
  border: 1px solid #4e75ff;
  background-color: inherit;
  color: #4e75ff;
}

.flatpickr-day.prevMonthDay {
  color: #c1c1c1;
}

.flatpickr-day.prevMonthDay:hover {
  background-color: inherit;
  border-color: #2e2f42;
}

.flatpickr-calendar .flatpickr-days .flatpickr-day.selected {
  background-color: #4e75ff;
  color: #ffffff;
}
